@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ### Theme 1 */

/* #### Backgrounds */
:root {
  --screen-blue: hsl(222, 26%, 31%);
  --bgc-blue: hsl(223, 31%, 20%);
  --input-blue: hsl(224, 36%, 15%);
  /* #### Keys */
  --button-blue: hsl(225, 21%, 49%);
  --button-border: hsl(224, 28%, 35%);
  --Red: hsl(6, 63%, 50%);
  --Dark-red: hsl(6, 70%, 34%);
  --Light-grayish-orange: hsl(30, 25%, 89%);
  --Grayish-orange: hsl(28, 16%, 65%);
  /* #### Text */
  --Very-dark-grayish-blue: hsl(221, 14%, 31%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", serif;
}

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  background-color: var(--screen-blue);
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  height: 90vh;
  width: 60%;
  /* border: 1px solid black; */
}

.heading {
  width: 100%;
  display: flex;
  gap: 18rem;
  justify-content: center;
  padding-top: 4rem;
  align-items: center;
}
h4 {
  color: var(--White);
  font-size: 2rem;
  font-weight: 700;
}
.tri-state {
  width: 70px;
  height: 30px;
  border-radius: 20px;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgc-blue);
}

.tri-state .button {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  /* background-color:var(--Red); */
}

.child-left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.num {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.num p {
  font-weight: 700;
}
.head-right > p {
  font-weight: 700;
}
.theme {
  padding-top: 1rem;
}
.head-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.head-right p {
  color: var(--White);
}
.input-box input {
  display: flex;
  justify-self: center;
  border-radius: 10px;
  border: none;
  font-size: 3rem;
  font-weight: 700;
  text-align: right;
  padding: 0 1rem;
  color: var(--White);
  margin-top: 1rem;
  background-color: var(--input-blue);
  height: 15vh;
  width: 50%;
}
.calculator-parent {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.calculator-start {
  width: 50%;
  height: 58vh;
  background-color: var(--bgc-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.calculator {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.calculator button {
  padding: 17px 32px;
  font-size: 1.8rem;
  font-weight: 800;
  border-radius: 10px;
  background-color: var(--Light-grayish-orange);
  color: var(--bgc-blue);
  border: none;
  box-shadow: 0 4px 0px 0px var(--Grayish-orange);
}

.calculator :nth-child(8) {
  padding: 0 32px;
}
.calculator :nth-child(12) {
  padding: 0 37px;
}
.calculator :nth-child(16) {
  padding: 0 35px;
}
.calculator :nth-child(4) {
  padding: 0 17px;
}
.reset {
  display: flex;
  gap: 15px;
}
.reset button {
  padding: 10px 82px;
}
.reset :nth-child(1),
.calculator :nth-child(4) {
  background-color: var(--button-blue);
  border: 2px solid var(--button-border);
  color: var(--White);
  border: none;
  box-shadow: 0 3px 0px 0px var(--button-border);
}
.reset :nth-child(1) {
  padding: 0 50px;
}

.reset :nth-child(2) {
  background-color: var(--Red);
  border: 2px solid var(--Dark-red);
  color: var(--White);
  box-shadow: 0 3px 0px 0px var(--Dark-red);
  border: none;
}

@media only screen and (max-width: 480px) {
  .calc {
    height: 100%;
    width: 100%;
  }
  .heading {
    width: 100%;
    display: flex;
    gap: 10rem;
    justify-content: space-around;
  }
  .input-box input {
    height: 15vh;
    width: 90%;
  }
  .calculator-start {
    width: 90%;
    height: 100%;
  }
  .calculator {
    width: 98%;
    padding: 12px 0.1px;
  }
  .reset button {
    padding: 13px 70px;
  }
  .reset :nth-child(2) {
    padding: 13px 80px;
  }
}
